@import "variables";

@import "header";

@import "banner";

@import "divider";

@import "dropdown";

@import "saunas";

@import "facials";

@import "restaurant";

@import "forms";

@import "footer";

@import "responsive";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "../../node_modules/bootstrap/scss/variables";

@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Lato&family=Playfair+Display:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

// general styling

h5 {
  color: $primary;
}
section p{
  text-align: center;
  width: 80%;
  margin: auto;
}

// go up button

.go_up{
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding-top: 1rem;
}